<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui" 
      xmlns:c="http://java.sun.com/jsp/jstl/core">


    <h:head>
        <f:facet name="head">
            Dashboard
        </f:facet>
    </h:head>

    <h:body>
        <h:form id="form">  
            <p:growl id="growl" showDetail="true" /> 
            <style>
                .ui-dashboard-column {min-width:200px;}
            </style>
            <p:dashboard id="board" model="#{dashboardBean.model}">  

                <p:ajax event="reorder" listener="#{dashboardBean.handleReorder}" update="growl" />  
                <p:panel id="DashboardControl" header="Widgets" toggleable="true" toggleSpeed="500" closeSpeed="500">  
                    <p:menu>
                        <p:menuitem value="Bucket" actionListener="#{dashboardBean.addBucket}" disabled="#{userSession.isNotAllowedToBucket}" update=":form"/>
                        <p:menuitem value="User tasks" actionListener="#{dashboardBean.addUserTasks}" disabled="#{userSession.isNotAllowedToUserTasks}" update=":form"/>
                        <p:menuitem value="Completed Tasks" actionListener="#{dashboardBean.addCompletedTasks}" disabled="#{userSession.isNotAllowedToCompletedTasks}" update=":form" />
                        <p:menuitem value="Time" actionListener="#{dashboardBean.addTime}" update=":form" />
                        <p:menuitem value="Scrum review" disabled="#{userSession.isNotAllowedToScrumReview}" actionListener="#{dashboardBean.addScrumReview}" update=":form" />
                        <p:menuitem value="User story" disabled="#{userSession.isNotAllowedToUserStories}" actionListener="#{dashboardBean.addUserStory}" update=":form" />

                    </p:menu>
                </p:panel>
                <p:panel id="Bucket" header="Bucket" visible="#{!userSession.isNotAllowedToBucket}" toggleable="true" toggleSpeed="500" closeSpeed="500">
                    <p:dataTable id="bucketTable" var="data" value="#{sprintManagerRemoteImpl.bucketList}" paginator="true" selection="#{sprintManagerRemoteImpl.selectedTask}" selectionMode="single" rowKey="#{data.name}" rows ="8">                                                           
                        <p:column headerText="Name:">
                            <h:outputText value="#{data.name}"/>
                        </p:column>
                        <p:column headerText="Description:">
                            <h:outputText value="#{data.description}"/>
                        </p:column>

                        <f:facet name="footer">  
                            <p:commandButton id="takeButton" value="Take" 
                                             update=":form"  actionListener="#{sprintManagerRemoteImpl.takeBucket}"/> 
                            <p:commandButton id="addButton" value="Add" update=":form" onclick="atddlg.show()"/>
                        </f:facet>  
                    </p:dataTable>  
                </p:panel>  

                <p:panel id="UserTasks" header="User tasks" visible="#{!userSession.isNotAllowedToUserTasks}"  toggleable="true" toggleSpeed="500" closeSpeed="500">  
                    <p:dataTable id="taskTable" var="userTask" value="#{sprintManagerRemoteImpl.taskList}" rowKey="#{userTask.name}"  
                                 selection="#{sprintManagerRemoteImpl.userSelectedTask}" selectionMode="single" rows="8" paginator="true">                              
                        <p:column headerText="Name:">
                            <h:outputText value="#{userTask.name}"/>
                        </p:column>
                        <p:column headerText="Description">
                            <h:outputText value="#{userTask.description}"/>
                        </p:column>
                        <f:facet name="footer">  
                            <p:commandButton id="splitButton" value="Split" 
                                             update=":form"  actionListener="#{sprintManagerRemoteImpl.splitUserTask}"/>
                            <p:commandButton id="doneButton" value="Done" 
                                             update=":form"  actionListener="#{sprintManagerRemoteImpl.endUserTask}"/>  
                        </f:facet>  
                    </p:dataTable>
                </p:panel>  

                <p:panel id="CompletedTasks" header="Completed tasks" toggleable="true" visible="#{!userSession.isNotAllowedToCompletedTasks}" toggleSpeed="500" closeSpeed="500">  
                    <p:dataTable id="CompletedTasksTable" var="compTask" value="#{sprintManagerRemoteImpl.completedTaskList}" rowKey="#{compTask.name}"  
                                 rows="8" paginator="true">                              
                        <p:column headerText="Name:">
                            <h:outputText value="#{compTask.name}"/>
                        </p:column>
                        <p:column headerText="Description:">
                            <h:outputText value="#{compTask.description}"/>
                        </p:column>
                    </p:dataTable>
                </p:panel>  

                <p:panel id="Time" header="Time"  toggleable="true" toggleSpeed="500" closeSpeed="500">  
                </p:panel>  
                <p:panel id="ScrumReview" header="Scrum review"  toggleable="true" visible="#{!dashboardBean.addScrumReview}"  toggleSpeed="500" closeSpeed="500">  
                </p:panel> 
                <p:panel id="UserStory" header="User story" toggleable="true" visible="#{!userSession.isNotAllowedToUserStories}"  toggleSpeed="500" closeSpeed="500">
                    <p:dataTable id="UserStoryTable" var="userStory" value="#{sprintManagerRemoteImpl.userStoryList}" rowKey="#{userStory.datevalue}"  
                                 rows="8" paginator="true" selection="#{sprintManagerRemoteImpl.userStorySelected}" selectionMode="single">                              
                        <p:column headerText="Date:">
                            <h:outputText value="#{userStory.datevalue}"/>
                        </p:column>
                        <p:column headerText="Category:">
                            <h:outputText value="#{userStory.category}"/>
                        </p:column>
                        <p:column headerText="Story:">
                            <h:outputText value="#{userStory.story}"/>
                        </p:column>
                        <f:facet name="footer">  
                            <p:commandButton id="RemoveStoryButton" value="Remove" 
                                             update=":form" actionListener="#{sprintManagerRemoteImpl.removeUserStory}"/>
                            <p:commandButton id="AddStoryButton" value="Add" 
                                             update=":form" onclick="ausddlg.show()"/>
                              
                        </f:facet>  
                    </p:dataTable>
                </p:panel>

            </p:dashboard>

        </h:form>
        <h:form id="form2">  

            <p:growl id="growl2" showDetail="true" life="3000" />  
            <p:dialog id="AddTaskDialog" header="Add task" widgetVar="atddlg" resizable="false">  

                <h:panelGrid columns="2" cellpadding="5">  
                    <h:outputLabel for="name" value="Name:" />  
                    <p:inputTextarea rows="1" cols="33" value="#{sprintManagerRemoteImpl.name}"   
                                 id="name" required="true" label="name" />  
                    <h:outputLabel for="description" value="Description:" /> 
                    <p:inputTextarea rows="6" cols="33" value="#{sprintManagerRemoteImpl.description}" required="true" id="description" label="description"/>  

                    <f:facet name="footer">  
                        <p:commandButton id="addTaskButton" value="Add" update="growl2,:form"   
                                         actionListener="#{sprintManagerRemoteImpl.putBucket}" onclick="atddlg.hide()"/>  
                    </f:facet>  
                </h:panelGrid>  

            </p:dialog>  
        </h:form>
        <h:form id="form3">
            <p:growl id="growl3" showDetail="true" life="3000" />  
            <p:dialog id="AddUserStoryDialog" header="Add user story" widgetVar="ausddlg" resizable="false">  

                <h:panelGrid columns="2" cellpadding="5">  
                    <h:outputLabel for="category" value="Category:" />  
                    <p:inputTextarea rows="1" cols="33" value="#{sprintManagerRemoteImpl.category}"   
                                 id="category" required="true" label="category" />  
                    <h:outputLabel for="story" value="Story:" /> 
                    <p:inputTextarea rows="6" cols="33" value="#{sprintManagerRemoteImpl.story}" required="true" id="story" label="story"/>  

                    <f:facet name="footer">  
                        <p:commandButton id="addUserStoryButton" value="Add" update="growl3,:form"   
                                         actionListener="#{sprintManagerRemoteImpl.addUserStory}" onclick="ausddlg.hide()"/>  
                    </f:facet>  
                </h:panelGrid>  

            </p:dialog> 
        </h:form>
    </h:body>


</html>
