<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui" 
      xmlns:c="http://java.sun.com/jsp/jstl/core">
    
    <h:head>
        <title>Login</title>
    </h:head>
    <h:body>
        <p:layout>
            <style>
                .ui-layout-pane-west.ui-widget-content{
                    border: 0;
                }
                .ui-layout-pane-north.ui-widget-content{
                    border: 0;
                }
                .ui-layout-pane-south.ui-widget-content{
                    border: 0;
                }
                .ui-layout-pane-east.ui-widget-content{
                    border: 0;
                }
                .ui-layout-pane-center.ui-widget-content{
                    border: 0;
                }
                .ui-panel
                {
                    border: 0;
                }
            </style>
      
            <p:layoutUnit position="center">
                <p:panel>
                    <form method="post" action="j_security_check" name="loginForm">                   
                        <p:panelGrid columns="2">
                            <f:facet name="header">
                                Login
                            </f:facet>
                            <p:column>
                                Username:
                            </p:column>
                            <p:column>
                                <h:inputText id="j_username" autocomplete="off"/>
                            </p:column>
                            <p:column>
                                Password:
                            </p:column>
                            <p:column>
                                <h:inputSecret id="j_password" autocomplete="off"/>
                            </p:column>
                            <p:column>
                            </p:column>
                            <p:column>
                                <h:commandButton type="submit" value="Login"/>
                                <h:commandButton type="reset" value="Clear"/>
                            </p:column>

                        </p:panelGrid>
                    </form>

                </p:panel>
            </p:layoutUnit>
        </p:layout>
    </h:body>

</html>